<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.mapper.BillMapper">

    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.Bill">
            <id property="billId" column="bill_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="paymentMethod" column="payment_method" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        bill_id,user_id,amount,
        type,payment_method,time,
        note,created_at,is_deleted
    </sql>

    <resultMap id="getBillsMap" type="com.tencent.wxcloudrun.model.vo.BillListVo">
        <result property="date" column="date" jdbcType="VARCHAR"/>
        <collection property="bills" ofType="com.tencent.wxcloudrun.model.Bill">
            <id property="billId" column="bill_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="paymentMethod" column="payment_method" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        </collection>
    </resultMap>

    <select id="getBills" resultMap="getBillsMap">
        select DATE_FORMAT(bill.time, '%Y-%m-%d') as date,
        bill.bill_id,
        bill.user_id,
        bill.amount,
        bill.type,
        bill.payment_method,
        bill.time,
        bill.note,
        bill.created_at,
        bill.is_deleted
        from bill
        left join user on bill.user_id = user.user_id
        <where>
                and bill.is_deleted = 0
                and user.is_deleted = 0
                and user.wechat_openid = #{openId}
        </where>
    </select>
</mapper>
