<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="wechatOpenid" column="wechat_openid" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="isLogin" column="is_login" jdbcType="TINYINT"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,wechat_openid,
        created_at,is_deleted,is_login,
        token,role,password
    </sql>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            and user.is_deleted = 0
        </where>
    </select>
    <select id="getToday" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            and user.is_deleted = 0
            and DATE_FORMAT(bill.time, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
        </where>
    </select>
</mapper>
